
# BEGIN WebP Express
# `BEGIN WebP Express` から `END WebP Express` までのディレクティブ (行) は
# 動的に生成され、WordPress フィルターによってのみ修正が可能です。
# これらのマーカー間にあるディレクティブへのいかなる変更も上書きされてしまいます。
# The rules have left the building
# END WebP Express