{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/html/user_data/assets/css/new/style.css">
    <style>
        .topDeviceContentInnerBlock{
            width: auto !important;
        }
        .ec-layoutRole .ec-layoutRole__contents{
            max-width: 100% !important;
        }
        #wrap.default .topDevice .topDeviceContent .topDeviceContentInner .topDeviceContentInnerBlock{
            width: 440px;
            height: 710px;
        }
    </style>
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/html/user_data/assets/js/common.js"></script>
<script src="/html/user_data/assets/js/rellax.min.js"></script>
<script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
</script>
    <script>
       
    </script>
{% endblock javascript %}

{% block main %}
<div id="wrap" class="default">
    <main>
        <section class="topFv">
            <div class="topFvContent">
                <h1>
                    <img class="pc" src="/html/user_data/assets/img/common/FV1.png" alt="FreeMax+5G 月額4800円　端末代金・契約期間の無いWiMAX＋5G・WiFiルーターレンタルサービス!">
                    <a href="../user_data/shop" class="pc btnclass">
                        <img src="/html/user_data/assets/img/common/green_button.png" alt="FreeMax+5G 月額4800円　端末代金・契約期間の無いWiMAX＋5G・WiFiルーターレンタルサービス!">
                    </a>
                    <span class="sp">
                        <img src="/html/user_data/assets/img/common/FV1_sp.png" alt="FreeMax+5G 月額4800円　端末代金・契約期間の無いWiMAX＋5G・WiFiルーターレンタルサービス!">
                        <a href="../user_data/shop" class="btn">今すぐお申し込み　▶</a>
                    </span>
                </h1>
            </div>
        </section>

        <section class="topPoint">
            <!--palalaks-->
            <div class="rellax pos1" data-rellax-speed="2" data-rellax-percentage="0.5" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg01.png" alt="">
            </div>
            <div class="rellax pos2" data-rellax-speed="6" data-rellax-percentage="1" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg02.png" alt="">
            </div>
            <div class="rellax pos3" data-rellax-speed="5" data-rellax-percentage="0.5" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg03.png" alt="">
            </div>
            <!--//palalaks//-->
            <div class="topPointContent">
                <h2><img src="/html/user_data/assets/img/common/point_title.png" alt="FreeMax+5Gの5つのフリー"></h2>
                <div class="topPointContentInner">
                    <div class="topPointContentInner__block">
                        <div class="topPointContentInner__block--img">
                            <img src="/html/user_data/assets/img/common/point_img01.png" alt="データ容量無制限イメージ">
                        </div>
                        <dl class="topPointContentInner__block--detail">
                            <dt>データ容量完全無制限！</dt>
                            <dd>1日●●GBや3日で●●GBまでなどの
                                制限がなく動画もアプリも使い放題！<sup>※1</sup></dd>
                        </dl>
                    </div>
                    <div class="topPointContentInner__block">
                        <div class="topPointContentInner__block--img">
                            <img src="/html/user_data/assets/img/common/point_img02.png" alt="解約違約金0円イメージ">
                        </div>
                        <dl class="topPointContentInner__block--detail">
                            <dt>契約期間の縛りなし！</dt>
                            <dd>2年契約縛りなどの期間がないから
                                使わなくなったら解約可能！
                            </dd>
                        </dl>
                    </div>
                    <div class="topPointContentInner__block">
                        <div class="topPointContentInner__block--img">
                            <img src="/html/user_data/assets/img/common/point_img03.png" alt="端末はレンタルイメージ">
                        </div>
                        <dl class="topPointContentInner__block--detail">
                            <dt>解約違約金0円！</dt>
                            <dd>解約違約金が無いからいつでも
                                解約できる！<sup>※2</sup></dd>
                        </dl>
                    </div>
                    <div class="topPointContentInner__block">
                        <div class="topPointContentInner__block--img">
                            <img src="/html/user_data/assets/img/common/point_img04.png" alt="充実した端末補償イメージ">
                        </div>
                        <dl class="topPointContentInner__block--detail">
                            <dt>端末はレンタル！</dt>
                            <dd>解約時に割賦料金0円</dd>
                        </dl>
                    </div>
                    <div class="topPointContentInner__block">
                        <div class="topPointContentInner__block--img">
                            <img src="/html/user_data/assets/img/common/point_img05.png" alt="最短即日発送イメージ">
                        </div>
                        <dl class="topPointContentInner__block--detail">
                            <dt>発送料金0円！</dt>
                            <dd>しかも最短即日発送！<br>すぐに使えてストレスなし！<sup>※3</sup></dd>
                        </dl>
                    </div>
                </div>
                <ul>
                    <li>※1一定期間内に大量のデータ通信のご利用があった場合、混雑する時間帯の通信速度を制限する場合があります。</li>
                    <li>※2毎月15日までの申請で当月末解約・16日以降の申請で翌月末解約となります。最低利用期間は1か月となります。</li>
                    <li>※3即日発送は、平日の14時までにお申込み手続きを完了頂いたお客様に限ります。お申込み手続きの完了が14時を回ってしまった場合は、翌営業日の発送となります。<br>
                        また、土・日・祝は発送を行っておりませんので、翌営業日の発送となりますので予めご了承ください。
                    </li>
                </ul>
            </div>
        </section>

        <section class="ctaWrap">
            <div class="ctaWrapContent">
                <div class="ctaWrapContentBoxL">
                    <div class="ctaWrapContentBoxL__text"><span class="win">\</span> WEBからのお申込み24時間受付中！ /</div>
                    <a href="../user_data/shop" class="ctaWrapContentBoxL__btn">お申し込みはこちら</a>
                </div>
            </div>
        </section>

        <section class="topAbout" id="about">
            <!--palalaks-->
            <div class="rellax pos1" data-rellax-speed="2" data-rellax-percentage="0.5" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg01.png" alt="">
            </div>
            <div class="rellax pos2" data-rellax-speed="6" data-rellax-percentage="1" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg02.png" alt="">
            </div>
            <div class="rellax pos3" data-rellax-speed="5" data-rellax-percentage="0.5" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg03.png" alt="">
            </div>
            <!--//palalaks//-->
            <div class="topAboutContent">
                <h2><img src="/html/user_data/assets/img/common/about_title.png" alt="FreeMax+5Gについて"></h2>
                <div class="topAboutContentInner">
                    <dl class="topAboutContentInnerBoxL">
                        <dt>驚きの通信速度</dt>
                        <dd>モバイルルーターなら下り最大2.2Gbps！<br>
                            ホームルーターなら下り最大2.7Gbps！<br>
                            <small>
                                ※ベストエフォート型サービスです。<br>
                                記載の速度は技術規格上の最大値であり、<br>
                                実使用速度を示すものではありません。
                            </small>
                        </dd>
                    </dl>
                    <div class="topAboutContentInnerBoxR">
                        <img src="/html/user_data/assets/img/common/about_img01.png" alt="驚きの通信速度イメージ">
                    </div>
                </div>
                <div class="topAboutContentInner">
                    <dl class="topAboutContentInnerBoxL">
                        <dt>いくら使っても無制限</dt>
                        <dd>通信制限がなく、動画見放題！<br>
                            アプリも使い放題！
                        </dd>
                    </dl>
                    <div class="topAboutContentInnerBoxR">
                        <img src="/html/user_data/assets/img/common/about_img02.png" alt="いくら使っても無制限イメージ">
                    </div>
                </div>
            </div>
        </section>

        <section class="ctaWrap">
            <div class="ctaWrapContent">
                <div class="ctaWrapContentBoxL">
                    <div class="ctaWrapContentBoxL__text"><span class="win">\</span> WEBからのお申込み24時間受付中！ /</div>
                    <a href="../user_data/shop" class="ctaWrapContentBoxL__btn">お申し込みはこちら</a>
                </div>
            </div>
        </section>

        <section class="topDevice" id="device">
            <!--palalaks-->
            <div class="rellax pos1" data-rellax-speed="2" data-rellax-percentage="0.5" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg04.png" alt="">
            </div>
            <div class="rellax pos2" data-rellax-speed="6" data-rellax-percentage="1" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg06.png" alt="">
            </div>
            <div class="rellax pos3" data-rellax-speed="5" data-rellax-percentage="0.5" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg05.png" alt="">
            </div>
            <!--//palalaks//-->
            <h2><img src="/html/user_data/assets/img/common/device_title.png" alt="端末詳細"></h2>
            <div class="topDeviceContent">
                <div class="topDeviceContentInner">
                    <img src="/html/user_data/assets/img/common/device_img01.png" alt="外でも家でも使いたい方に持ち運び可能なモバイルルーター"
                         class="topDeviceContentInner__img">
                    <div class="topDeviceContentInner__text"><span class="win">\</span>こんな人はモバイルルーターがおすすめ/</div>
                    <div class="topDeviceContentInnerBlock">
                        <img src="/html/user_data/assets/img/common/device_img03.png" alt="Galaxy 5G Mobile Wi-Fi"
                             class="topDeviceContentInnerBlock__img">
                        <h3>モバイルルーター</h3>
                        <div class="topDeviceContentInnerBlock__detail">
                            <dl>
                                <dt><img src="/html/user_data/assets/img/common/device_ico01.svg" alt="下りアイコン"></dt>
                                <dd>下り速度<br>
                                    最大<em>2.2</em>Gbps
                                </dd>
                            </dl>
                            <dl>
                                <dt><img src="/html/user_data/assets/img/common/device_ico02.svg" alt="ネットアイコン"></dt>
                                <dd>最大接続台数<br>
                                    <em>10</em>台
                                </dd>
                            </dl>
                            <dl>
                                <dt><img src="/html/user_data/assets/img/common/device_ico03.svg" alt="重量アイコン"></dt>
                                <dd>重量<br>
                                    約<em>203</em>g
                                </dd>
                            </dl>
                        </div>
                        <ul class="topDeviceContentInnerBlock__list">
                            <li>製品名：Galaxy 5G Mobile Wi-Fi</li>
                            <li>サイズ：約W147×H76×D10.9mm</li>
                            <li>連続通信時間：約1,000分</li>
                            <li>Wi-Fi規格：IEEE802.11a/n/ac（5GHz）、IEEE802.11b/g/n（2.4GHz）</li>
                            <li>最大通信速度：上り速度 最大183Mbps</li>
                            <li>充電ポート：USB 3.0 Type-C</li>
                            <li>バッテリー容量：5,000mAh</li>
                        </ul>
                        <a href="../user_data/shop" class="topDeviceContentInnerBlock__btn">モバイルルーターを申込む</a>
                    </div>
                </div>
                <div class="topDeviceContentInner">
                    <img src="/html/user_data/assets/img/common/device_img02.png" alt="ご自宅のネット環境にコンセントにさすだけホームルーター"
                         class="topDeviceContentInner__img">
                    <div class="topDeviceContentInner__text"><span class="win">\</span>こんな人はホームルーターがおすすめ/</div>
                    <div class="topDeviceContentInnerBlock">
                        <img src="/html/user_data/assets/img/common/device_img04.png" alt="Galaxy 5G Mobile Wi-Fi"
                             class="topDeviceContentInnerBlock__img">
                        <h3>ホームルーター</h3>
                        <div class="topDeviceContentInnerBlock__detail">
                            <dl>
                                <dt><img src="/html/user_data/assets/img/common/device_ico01.svg" alt="下りアイコン"></dt>
                                <dd>下り速度<br>
                                    最大<em>2.7</em>Gbps
                                </dd>
                            </dl>
                            <dl>
                                <dt><img src="/html/user_data/assets/img/common/device_ico02.svg" alt="ネットアイコン"></dt>
                                <dd>最大接続台数<br>
                                    <em>30</em>台
                                </dd>
                            </dl>
                            <dl>
                                <dt><img src="/html/user_data/assets/img/common/device_ico03.svg" alt="重量アイコン"></dt>
                                <dd>重量<br>
                                    約<em>446</em>g
                                </dd>
                            </dl>
                        </div>
                        <ul class="topDeviceContentInnerBlock__list">
                            <li>製品名：Speed Wi-Fi HOME 5G L11</li>
                            <li>サイズ：約W70×H182×D124mm</li>
                            <li>Wi-Fi規格：IEEE802.11a/b/g/n/ac/ax(2.4GHz/5GHz)</li>
                            <li>最大通信速度：上り速度 最大183Mbps</li>
                            <li>電源ポート：専用AC</li>
                            <li>付属品：専用ACアダプター</li>
                        </ul>
                        <a href="../user_data/shop#design" class="topDeviceContentInnerBlock__btn mt100">ホームルーターを申込む</a>
                    </div>
                </div>
            </div>
            <ul>
                <li>※5モバイルルーターには充電用USBケーブルは付属しておりません。お客様でご準備いただくか、別途ご注文時ご購入いただけます。</li>
            </ul>
        </section>

        <section class="topArea">
            <div class="topAreaContent">
                <div class="topAreaContentBoxL">
                    <img src="/html/user_data/assets/img/common/area_img01.png" alt="エリアイラスト">
                </div>
                <div class="topAreaContentBoxR">
                    <h3 class="topAreaContentBoxR__title">提供エリア続々拡大中！</h3>
                    <div class="topAreaContentBoxR__text">
                        5G対応エリアでなくても従来のWiMAX2+・au 4G LTEが使え、<br>
                        自動で繋がりやすい回線に接続されます。
                    </div>
                    <a href="https://www.uqwimax.jp/wimax/area/map/default/" target="_blank"
                       class="topAreaContentBoxR__btn">エリアを確認する</a>
                </div>
            </div>
        </section>

        <section class="ctaWrap">
            <div class="ctaWrapContent">
                <div class="ctaWrapContentBoxL">
                    <div class="ctaWrapContentBoxL__text"><span class="win">\</span> WEBからのお申込み24時間受付中！ /</div>
                    <a href="../user_data/shop" class="ctaWrapContentBoxL__btn">お申し込みはこちら</a>
                </div>
            </div>
        </section>

        <section class="topPrice" id="price">
            <!--palalaks-->
            <div class="rellax pos1" data-rellax-speed="2" data-rellax-percentage="0.5" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg01.png" alt="">
            </div>
            <div class="rellax pos2" data-rellax-speed="6" data-rellax-percentage="1" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg02.png" alt="">
            </div>
            <div class="rellax pos3" data-rellax-speed="5" data-rellax-percentage="0.5" data-rellax-zindex="5">
                <img src="/html/user_data/assets/img/common/kumo_bg03.png" alt="">
            </div>
            <!--//palalaks//-->
            <div class="topPriceContent">
                <h2><img src="/html/user_data/assets/img/common/price_title.png" alt="料金プラン"></h2>
                <div class="topPriceContent__text">モバイルもホームもわかりやすい同じ料金!</div>
                <div class="topPriceContent__subject">
                    <img src="/html/user_data/assets/img/common/price_img.svg" alt="月額料金4,950円（税込）">
                    <p>※契約月日割り計算無し</p>
                </div>
                <h3>選べる安心補償</h3>
                <div class="topPriceContentInner">
                    <div class="topPriceContentInner__block">
                        <img src="/html/user_data/assets/img/common/price_img01.png" alt="安心補償フル" class="topPriceContentInner__block--img">
                        <dl class="topPriceContentInner__block--detail">
                            <dt>安心補償フリー</dt>
                            <dd>月額 <em>550</em>円(税込)</dd>
                            <dd>すべてのトラブルに適用し<br>
                                全額補償
                            </dd>
                        </dl>
                    </div>
                    <div class="topPriceContentInner__block">
                        <img src="/html/user_data/assets/img/common/price_img02.png" alt="安心補償ライト" class="topPriceContentInner__block--img">
                        <dl class="topPriceContentInner__block--detail">
                            <dt>安心補償ライト</dt>
                            <dd>月額 <em>275</em>円(税込)</dd>
                            <dd>破損/故障/水漏れは全額補償<br>
                                補償外：紛失・盗難・バッテリーの劣化が発生した場合、端末代金として11,000円(税込)のご負担
                            </dd>
                        </dl>
                    </div>
                    <div class="topPriceContentInner__block">
                        <img src="/html/user_data/assets/img/common/price_img03.png" alt="安心補償加入無し" class="topPriceContentInner__block--img">
                        <dl class="topPriceContentInner__block--detail">
                            <dt>安心補償加入無し</dt>
                            <dd><em>0</em>円</dd>
                            <dd>補償なし<br>
                                水没・落下・盗難・紛失が発生した場合、
                                端末代金として22,000円(税込)のご負担
                            </dd>
                        </dl>
                    </div>
                </div>
                <p>※安心補償オプションの適用は契約日から1年に1回までとなります。</p>
                <h3>初期費用/アクセサリー</h3>
                <div class="topPriceContentInner">
                    <div class="topPriceContentInner__block2">
                        <img src="/html/user_data/assets/img/common/price_img04.png" alt="初期費用" class="topPriceContentInner__block2--img">
                        <div class="topPriceContentInner__block2--detail">初期費用：3,300円（税込）<br>
                            ／初月のみ
                        </div>
                    </div>
                    <div class="topPriceContentInner__block2">
                        <img src="/html/user_data/assets/img/common/price_img05.png" alt="ACアダプター" class="topPriceContentInner__block2--img">
                        <div class="topPriceContentInner__block2--detail">Type-Cケーブル一体型充電器　1,540円(税込)<br>
                            ／買いきり
                        </div>
                    </div>
                </div>
                <div class="topPriceContentBox">
                    <div class="topPriceContentBoxL">
                        <img src="/html/user_data/assets/img/common/price_img06.png" alt="そして更に！契約期間の縛りがないから解約違約金0円" class="pc">
                        <img src="/html/user_data/assets/img/common/price_img06_sp.png" alt="そして更に！契約期間の縛りがないから解約違約金0円" class="sp">
                        <p>多くのWiMAX+5GやWiFiルーターは事前に契約期間が決まっていて契約更新月以外に解約した場合には解約違約金が必要になります。<br>
                            また、端末を割賦で購入している場合には解約時に端末代金を一括で清算するケースも多く見られますが、FreeMax+5Gはいつ解約しても違約金や端末代金は一切かかりません。<br>
                            そのため、お試しで利用してみて通信速度に満足がいかなければ解約する、といった利用方法も可能です。</p>
                    </div>
                    <div class="topPriceContentBoxR pc">
                        <img src="/html/user_data/assets/img/common/price_img07.png" alt="女性">
                    </div>
                </div>
            </div>
        </section>

        <section class="ctaWrap">
            <div class="ctaWrapContent">
                <div class="ctaWrapContentBoxL">
                    <div class="ctaWrapContentBoxL__text"><span class="win">\</span> WEBからのお申込み24時間受付中！ /</div>
                    <a href="../user_data/shop" class="ctaWrapContentBoxL__btn">お申し込みはこちら</a>
                </div>
            </div>
        </section>

        <section class="topFlow" id="flow">
            <div class="topFlowContent">
                <h2><img src="/html/user_data/assets/img/common/flow_title.png" alt="ご利用までの流れ"></h2>
                <div class="topFlowContent__text">お申込みから最短即日でネットを使えます！</div>
                <div class="topFlowContentInner">
                    <div class="topFlowContentInner__block">
                        <img src="/html/user_data/assets/img/common/flow_img01.png" alt="STEP01" class="topFlowContentInner__block--img">
                        <dl class="topFlowContentInner__block--detail">
                            <dt>お申し込み</dt>
                            <dd>お申し込みされてから最短即日で端末を発送いたします。</dd>
                        </dl>
                    </div>
                    <div class="topFlowContentInner__arrow">
                        <img src="/html/user_data/assets/img/common/flow_arrow.png" alt="▶">
                    </div>
                    <div class="topFlowContentInner__block">
                        <img src="/html/user_data/assets/img/common/flow_img02.png" alt="STEP02" class="topFlowContentInner__block--img">
                        <dl class="topFlowContentInner__block--detail">
                            <dt>お受け取り</dt>
                            <dd>端末はご希望のご住所宛にお届けいたします。当日受取希望の場合店頭でのお渡しも可能です。</dd>
                        </dl>
                    </div>
                    <div class="topFlowContentInner__arrow">
                        <img src="/html/user_data/assets/img/common/flow_arrow.png" alt="▶">
                    </div>
                    <div class="topFlowContentInner__block">
                        <img src="/html/user_data/assets/img/common/flow_img03.png" alt="STEP03" class="topFlowContentInner__block--img">
                        <dl class="topFlowContentInner__block--detail">
                            <dt>ご利用スタート！</dt>
                            <dd>電源を入れたらスマホ、タブレットなどの機器と端末をWiFiでつなぐだけで利用スタートできます。</dd>
                        </dl>
                    </div>
                </div>
                <ul>
                    <li>※平日の14時までにお申し込み手続きを完了いただいたお客様は最短発送となりますが、14時を回ってしまった場合は翌日発送となります。
                        また土日祝日は発送を行っておりませんので、翌営業日の発送となります。
                    </li>
                </ul>
            </div>
        </section>

        <section class="topFaq" id="faq">
            <div class="topFaqContent">
                <h2><img src="/html/user_data/assets/img/common/faq_title.png" alt="よくある質問"></h2>
                <ul>
                    <li>
                        <dl>
                            <dt>契約期間の縛りはありますか？</dt>
                            <dd>最低レンタル期間の1ヵ月が経過した後であればいつでもご解約いただけます。</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>申し込み当日に発送してもらうことはできますか？</dt>
                            <dd>平日14時までのお申込みで当日発送が可能です。<br>
                                ※土日祝日は発送を行っていない為、翌営業日の発送となります。
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>ホームルーターを設置する際に工事は必要ですか？</dt>
                            <dd>工事の必要はありません。ご家庭や会社内のコンセントに差して電源をONにしていただくだけでご利用いただけます。</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>5Ｇを利用するのに設定は必要ですか？</dt>
                            <dd>特別な設定は必要ありません。対応のエリアでは自動で5Ｇ接続を開始いたします。</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>5Ｇエリア外でも使えますか？</dt>
                            <dd>使用可能です。その場合、従来の4Ｇ回線エリア内であれば4Ｇ回線でのWiFi通信が可能となります。</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </section>

        <section class="footerCtaWrap">
            <div class="footerCtaWrapContent">
                <div class="footerCtaWrapContentBoxL__text"><span class="win">\</span> WEBからのお申込み24時間受付中！ /</div>
                <a href="../user_data/shop" class="footerCtaWrapContentBoxL__btn">お申し込みはこちら</a>
            </div>
        </section>
    </main>

    <img src="/html/user_data/assets/img/common/footer_deco.png" alt="kumo" class="footer_deco">
</div>

{% endblock %}