<header>
    <div class="logo">
        <h1>
            <a href="/">
                <img src="{{ url('homepage') }}html/user_data/logo.png" alt="FreeWimax5G">
            </a>
        </h1>
    </div>
</header>