<div id="wrap" class="default">
    <footer>
{#        <a href="" id="js-pageTop" class="topBtn"><img src="img/top_btn.png" alt="TOPへ戻る"></a>#}
        <div class="footerContent">
            <div class="footerContentLogo">
                <img src="/html/user_data/assets/img/icons/logo_w.png" alt="FreeMax+5G">
                <span>1ヵ月から使えるWiMAXレンタルサービス</span>
            </div>
            <div class="footerContentList">
                <ul>
                    <li><a target="_blank" rel="noopener" href="//nitticompany.com/company/" target="_blank">会社概要</a></li>
                    <li><a target="_blank" rel="noopener" href="/shop/html/user_data/assets/pdf/freemax+5G_terms.pdf" target="_blank">利用規約</a></li>
                    <li><a target="_blank" rel="noopener" href="/shop/html/user_data/assets/pdf/freemax+5G_privacy-policy.pdf">個人情報保護方針</a></li>
                    <li><a target="_blank" rel="noopener" href="/shop/html/user_data/assets/pdf/freemax+5G_trade.pdf">特定商取引法の表記</a></li>
                    <li><a target="_blank" rel="noopener" href="//free-max.com/form/otoiawase/">お問い合わせ</a></li>
                </ul>
                <small>Copyright© FreeMax+5G All rights reserved.</small>
            </div>
        </div>
    </footer>
</div>