<div id="wrap" class="default">
    <header>
        {% set url = url('mypage') %}
        {% set data_url = 'mypage' %}
        {% set name = 'ログイン' %}
        {% if(is_granted('ROLE_USER')) %}
            {% set url = url('logout') %}
            {% set data_url = 'logout' %}
            {% set name = 'ログアウト' %}
        {% endif %}
        <div class="headerContent">
            <div class="logo">
                <h1><a href="https://free-max.com/"><img src="/html/user_data/logo.png" alt="FreeWimax5G"></a></h1>
            </div>
            <div class="headerContentBtnWrap">
                {% if(is_granted('ROLE_USER')) %}
                    <a href="{{ url('mypage') }}" class="headerContentBtnWrap__btn">
                        <img src="/html/user_data/assets/img/icons/mypage_ico.svg" alt="マイページアイコン">
                        マイページ
                    </a>
                {% endif %}
                <a href="{{ url }}" data-redirect="{{ data_url }}" id="target_btn" class="headerContentBtnWrap__btn pc">
                    <img src="/html/user_data/assets/img/icons/logout_ico.svg" alt="ログイン">
                    {{ name }}
                </a>
                <a href="https://free-max.com/user_data/shop" class="headerContentBtnWrap__btn app">
                    <img src="/html/user_data/assets/img/icons/cart_ico.svg" alt="お申し込みアイコン">
                    お申し込み
                </a>
                <div class="sp">
                    <div class="toggle_btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="headerList">
            <ul>
                <li><a href="#about">FreeMax+5Gについて</a></li>
                <li><a href="#device">端末詳細</a></li>
                <li><a href="#price">料金プラン</a></li>
                <li><a href="#flow">ご利用の流れ</a></li>
                <li><a href="#faq">よくある質問</a></li>
            </ul>
        </div>

        <div id="navArea" class="sp">
            <nav class="navAreaContent">
                <div class="inner">
                    <ul class="navList">
                        <li><a href="#about">FreeMax+5Gについて</a></li>
                        <li><a href="#device">端末詳細</a></li>
                        <li><a href="#price">料金プラン</a></li>
                        <li><a href="#flow">ご利用の流れ</a></li>
                        <li><a href="#faq">よくある質問</a></li>
                    </ul>
                    <div class="navCta">
                        <div class="navCta__text"><span class="win">\</span> WEBからのお申込み24時間受付中！ /</div>
                        <a href="" class="navCta__btn">お申し込みはこちら</a>
                    </div>
                </div>
            </nav>

        </div>
    </header>
</div>