<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Freemax.com</title>
    <style>
        .row{
            text-align: center;
        }

        .time{
            color: red;
            font-size: 20px;
        }
        .contents .container{
            text-align: center;
            margin-top: 100px;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="homepage navstate_hide top"></body>


<!-- MAIN BODY -->
<main class="main_body p-learn" style="height: 300px;">
    <div class="contents">
        <div class="container">
            <h1 class="title">現在メンテナンス中です。</h1>
            <div class="text">
                {#                <h1 class="sub-title">【メンテナンス日時】</h1><br>#}
                {#                <span class="time"> <b> 2022年11月25日 14:00 ～ 11月25日 14:30 </b></span>#}
{#                <p><b>現在メンテナンス中です。 </b></p>#}
                <p><b>ご迷惑をおかけしますが、しばらくお待ち下さい。 </b></p>
            </div>
        </div>
    </div>
</main>
<!-- /END MAIN BODY -->